body{
    background-color:f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.button{
    background-color: gray;
    color: snow;
    padding: 15px 30px;
    border: none;
}
.button:hover{
    background:#252323;
    color: snow
}
#main-header{ 
    background-color: #252323;
    color: ghostwhite;  
}
#main-header a{
    text-decoration: none;
}
#main-header img{
    width: 40px;
    float: left;
    padding-top: 15px;
    padding-right: 10px;
}
#navbar{
    background-color: gray;
    margin-bottom:;
    padding: 10px;
}
#navbar ul{
    padding: 0%;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: snow;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
}
#navbar a:hover{
    color: #252323;
}
#navbar input{
    float: right;
    padding: 3px 10px;
    background: snow;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
#showcase{
    background-image:url('../images/surface.jpeg');
    background-position:center right;
    height: 300px;
    margin-bottom: 30px;
    text-align: center;
}
#showcase h1{
    color: snow;
    font-size: 40px;
    line-height: 2em;
    padding-top: 30px;
}
#main-footer{
    background: gray;
    color: snow;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.container2{
    display: flex;
    width: 95%;
    margin: auto;
    border: none;
    min-height: 200px;
    flex-wrap: wrap;
    font-size: 50px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.box-1{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-2{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-3{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-4{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-5{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-6{ background-color: white; margin: 7px; flex-shrink: inherit}
.box-7{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-8{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-9{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-10{ background-color: white; margin: 6px; flex-shrink: inherit}




@media(max-width:1000px){
    #navbar input{float: none; margin-left: 20px; margin-top: 10px;}
    }
