body{
    background-color:f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.button{
    background-color: gray;
    color: snow;
    padding: 15px 30px;
    border: none;
    box-shadow: 2px 5px 10px 1px #1b4663;
}
.button:hover{
    background:rgb(37, 35, 35);
    color: snow
}
#main-header{
    background-color: rgb(37, 35, 35);
    color: ghostwhite;
}
#navbar{
    background-color: gray;
    color: #ffffff;
}
#navbar ul{
    padding: 0%;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: snow;
    text-decoration: none;
    font-size: 18px;
    padding-right: 30px;
}
#showcase{
    background-image:url('../images/surface.jpeg');
    background-position:center right;
    height: 300px;
    margin-bottom: 30px;
    text-align: center;
}
#showcase h1{
    color: snow;
    font-size: 40px;
    line-height: 2em;
    padding-top: 30px;
}
#main{
    float:left;
    width: 70%;
    padding: 0 30px;
    box-sizing:border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background: gray;
    color:snow;
    padding: 10px;
    box-sizing: border-box;
}
#main-footer{
    background: gray;
    color: snow;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}
.block{
    float: left;
    width: 25%;
    border: 1px solid snow;
    padding:10px;
    box-sizing: border-box;
}
.my-form{
    padding: 150px 40px;
}
.my-form .form-group{
    padding-bottom: 20;  
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding:8px;
    width: 50%;
}
.fix-me{
    position: fixed;
    top: 400px;
}
