body{
    background-color:f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.containerD{
    width: 90%;
    margin: 30px;
    overflow: hidden;
    margin-top: 30px;
}  
.dresscontainer{
  width: 90%;
  margin:50px;
  overflow: hidden;
}
.button{
    background-color: gray;
    color: snow;
    padding: 15px 30px;
    border: none;
}
.button:hover{
    background:#252323;
    color: snow
}
.button2{
  background-color:green;
  color: snow;
  padding: 15px 30px;
  border: none;
}
.button2:hover{
  background:darkgreen;
  color: snow
}
#main{
    float:left;
    width: 100%;
    padding: 20px;
    box-sizing:border-box;
}
#main-header{ 
    background-color: #252323;
    color: ghostwhite;  
}
#main-header a{
    text-decoration: none;
}
#main-header img{
    width: 40px;
    float: left;
    padding-top: 15px;
    padding-right: 10px;
}
#navbar{
    background-color: #808080;
    margin-bottom:;
    padding: 10px;
}
#navbar ul{
    padding: 0%;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: snow;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
}
#navbar a:hover{
    color: #252323;
}
#navbar input{
    float: right;
    padding: 3px 10px;
    background: snow;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
#showcase{
    background-image:url('../images/surface.jpeg');
    background-position:center right;
    height: 300px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#showcase h1{
    color: snow;
    font-size: 40px;
    line-height: 2em;
    padding-top: 30px;
}
#sidebar{
  float: right;
  width: 30%;
  background: gray;
  color:snow;
  padding: 10px;
  box-sizing: border-box;
}
.block{
    float: left;
    width: 25%;
    border: 0px solid snow;
    padding:10px;
    box-sizing: border-box;
}
.col-md-1{
  float:left;
  width: 60%;
  border: 0px solid snow;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 50px;
}
/* About Content
-------------------------------------------------- */
.gray-container{
  background-color: gray;
  color: snow;
  margin: 0;
  padding: 1em o 1em;
}
.gray-container ul li{
  margin: 3em;
  padding: 1em;
  list-style-type: none;
}
.testemonial-container{
  background-color: snow;
  color:#252323;
}
ul{
    list-style-type: none;
    margin: 0em;
    padding: 0em;
  }
  .container-list{
    text-align: center;
    padding: 3em 0 3em 0;
  }
  .topabout{
    width: 100%; 
    max-height: 40em;
    margin-top: 7px; 
}
section{
  margin: 0em;
  padding: 0em;
  border: 0em;
}
figure{
  margin: 0em;
  padding: 0em;
  margin:5em;
}
figure blockquote :nth-child(2){
  padding-top: 50px;
}
figcaption{
  font-weight: bold;
}
.Container-newsletter{
  text-align: left;
  background-color: #808080;
  color: snow;
  padding-left: 40px;
}
.my-form{
  padding: 80px 40px;
}
.my-form .form-group{
  padding-bottom: 20;  
}
.my-form label{
  display: block;
}
.my-form input[type="text"], .my-form textarea{
  padding:8px;
  width: 50%;
  max-width: 500px;
}
.container-location{
width: 80%;
margin: auto;
overflow: hidden;
padding: 50px 0 50px;

}
/* Finish About Content
-------------------------------------------------- */
.col-md-5{
  float: right;
  width: 40%;
  border: 0px solid snow;
  box-sizing: border-box;
  margin: auto;
  padding: 50px;
}
.col-md-2{
  float:right;
  width: 60%;
  border: 0px solid snow;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 50px;
  margin-top: 1em;
}
.col-md-6{
  float:left;
  width: 40%;
  border: 0px solid snow;
  box-sizing: border-box;
  margin: auto;
  padding: 50px;
  text-align: left;
}
  .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 90%;
}
#main-footer{
    background: gray;
    color: snow;
    text-align: center;
    padding: 20px;
    margin-top: x;
}
.container2{
    display: flex;
    width: 95%;
    margin: auto;
    border: none;
    min-height: 200px;
    flex-wrap: wrap;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}
.box-1{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-2{ background-color: white; margin: 6px; flex-shrink: 10}
.box-3{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-4{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-5{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-6{ background-color: white; margin: 7px; flex-shrink: inherit}
.box-7{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-8{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-9{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-10{ background-color: white; margin: 6px; flex-shrink: inherit}

.box-6 img {
  transition: all 2s ease-in-out;
}
.box-6 img:hover {
  transform: scale(1.5);
}

/*.grow{ transition: all 2s ease-in-out;}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 10em;
  padding-bottom: 10em;
  color: #5a5a5a;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  width: 80%;
  margin: auto;
  overflow: hidden;  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media(min-width:1000px) {
  .featurette-heading {
    margin-top: 7rem;
  }
  .gray-container img{ 
    width: 50%;
  }
  .gray-container ul{
    display: flex;
  }
  .testemonial-container ul{
    display: flex;
  }
}
@media(min-width:1600px){
  .gray-container ul img{
width: 25%;
padding: 3em;
  }
}

@media(max-width:1000px){
  #navbar input{float: none; margin-left: 20px; margin-top: 10px;}
  .block{float: none;}
}

