/* NavBar
-------------------------------------------------- */
.bg-color-black{
    background-color: white;
    padding: 2em;

}
.container80{
    width: 80%;
    margin: auto;
    overflow: hidden;
    align-items: center;
}
.navbar-brand{
    font-size: 1.8em;
    font-family:monospace;
    padding-right: 40px;
}
.form-inline{
flex-wrap: nowrap;
}
.navbar-dark .navbar-toggler{
    color: #252323;
    border-color:#252323;
}
.navbar{
    margin-bottom: x;
    border-bottom: ;
}
.col-sm-12.col-md-6{
  margin-right: 2em;
}
.navbar-dark .navbar-brand{
  color: #252323;
}
.navbar-dark .navbar-nav .nav-link {
  color: #252323;
}
.btn-outline-light {
  color: #252323;
  border-color: #252323;
}

.custom-control-input:checked ~ 
.custom-control-label::before {
  background-color: green;
  border-color: green;
}
/* Finish Navbar
-------------------------------------------------- */


/* Inhalt Homepage
-------------------------------------------------- */

.container2{
    display: flex;
    width: 95%;
    margin: auto;
    border: none;
    min-height: 200px;
    flex-wrap: wrap;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    padding-top: 1.1em;
}
.box-1{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-2{ background-color: white; margin: 6px; flex-shrink: 10}
.box-3{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-4{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-5{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-6{ background-color: white; margin: 7px; flex-shrink: inherit}
.box-7{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-8{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-9{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-10{ background-color: white; margin: 6px; flex-shrink: inherit}

.box-1 img {
  transition: all 0.5s ease-in-out;
}
.box-1 img:hover {
  transform: scale(1.1);
}
.box-2 img {
    transition: all 0.3s ease-in-out;
  }
  .box-2 img:hover {
    transform: scale(1.1);
  }
  .box-3 img {
    transition: all 0.3s ease-in-out;
  }
  .box-3 img:hover {
    transform: scale(1.1);
  }
  .box-4 img {
    transition: all 0.3s ease-in-out;
  }
  .box-4 img:hover {
    transform: scale(1.1);
  }
  .box-5 img {
      transition: all 0.3s ease-in-out;
    }
    .box-5 img:hover {
      transform: scale(1.1);
    }
    .box-6 img {
      transition: all 0.3s ease-in-out;
    }
    .box-6 img:hover {
      transform: scale(1.1);
    }
    .box-7 img {
        transition: all 0.3s ease-in-out;
      }
      .box-7 img:hover {
        transform: scale(1.1);
      }
      .box-8 img {
        transition: all 0.3s ease-in-out;
      }
      .box-8 img:hover {
        transform: scale(1.1);
      }
      .box-9 img {
          transition: all 0.3s ease-in-out;
        }
        .box-9 img:hover {
          transform: scale(1.1);
        }
        .box-10 img {
          transition: all 0.3s ease-in-out;
        }
        .box-10 img:hover {
          transform: scale(1.1);
        }
        .gqBRFN {
            width: 100%;
            background-color: rgb(snow);
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
        }
        .dlAzQm {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            overflow-x: hidden;
            margin: 0px auto 60px;
        }
/* Inhalt Hompage Ende
-------------------------------------------------- */

/* Paralax home 
-------------------------------------------------- */

.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
  font-size: 400%;
  font-family: arial;
  font-weight: 900;
  color: #fff
}
.parallax__group {
  position: relative;
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
}
#group1 .parallax__layer--base {
  background: url(https://c.pxhere.com/images/8e/5a/b8d761c13fd45fb7d4785683851b-1587849.jpg!d) no-repeat;
  background-size: cover;
} 
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background-image: url(https://i.pinimg.com/originals/c7/79/60/c77960c6cf57de256c053f225f33a04e.jpg);

  background-size: cover;
}

* {
  margin:0;
  padding:0;
}

.title {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#group1 {
  z-index: 5; /* slide over group 2 */
}

#group2 {
  z-index: 3; /* slide under groups 1 and 3 */
}



.row{
  justify-co
  width: 100%;
  flex-wrap: wrap;
  flex-direction:row;
}
.rowLeft{
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  flex-direction:row;
}



  /* Paralax home  finish
-------------------------------------------------- */

  /* Detaild page 
-------------------------------------------------- */

.pd-wrap {
  padding: 40px 0;
  font-family: 'Poppins', sans-serif;
}
.heading-section {
  text-align: center;
  margin-bottom: 20px;
}
.sub-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #2e9ca1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.heading-section h2 {
  font-size: 32px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}
.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  min-width: 80px;
  background-size: 100%;
}
.carousel-testimonial .item {
  padding: 30px 10px;
}
.quote {
  position: absolute;
  top: -23px;
  color: #2e9da1;
  font-size: 27px;
}
.name {
  margin-bottom: 0;
  line-height: 14px;
  font-size: 17px;
  font-weight: 500;
}
.position {
  color: #adadad;
  font-size: 14px;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  outline: none;
  height: 25px;
}
.owl-nav button svg {
  width: 25px;
  height: 25px;
}
.owl-nav button.owl-prev {
  left: 25px;
}
.owl-nav button.owl-next {
  right: 25px;
}
.owl-nav button span {
  font-size: 45px;
}
.product-thumb .item img {
  height: 100px;
}
.product-name {
  font-size: 35px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 4px;
}
.product-price-discount {
  font-size: 22px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
}
.product-price-discount span.line-through {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #a5a5a5;
}
.display-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.product-info {
  width: 100%;
}
.reviews-counter {
  font-size: 13px;
}
.reviews-counter span {
  vertical-align: -2px;
}
.rate {
  float: left;
  padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 21px;
  color:#ccc;
  margin-bottom: 0;
  line-height: 21px;
}
.rate:not(:checked) > label:before {
  content: '\2605';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.product-dtl p {
  font-size: 14px;
  line-height: 24px;
  color: #7a7a7a;
}
.product-dtl .form-control {
  font-size: 15px;
}
.product-dtl label {
  line-height: 16px;
  font-size: 15px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.product-count {
  margin-top: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
  width: 34px;
  height: 34px;
  background: #212529;
  text-align: center;
  font-size: 19px;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}
.product-count .qtyminus {
  border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
  border-radius: 0 3px 3px 0; 
}
.product-count .qty {
  width: 60px;
  text-align: center;
}
.round-black-btn {
  border-radius: px;
  background: #212529;
  color: #fff;
  padding: 7px 45px;
  display: inline-block;
  margin-top: 20px;
  border: solid 2px #212529; 
  transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
  background: transparent;
  color: #212529;
  text-decoration: none;
}

.product-info-tabs {
  margin-top: 25px; 
}
.product-info-tabs .nav-tabs {
  border-bottom: 2px solid #d8d8d8;
  padding: 0px 40px;
}
.product-info-tabs .nav-tabs .nav-item {
  margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
  border: none; 
  border-bottom: 2px solid transparent;
  color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
  border: none; 
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-tabs .nav-tabs .nav-link.active, 
.product-info-tabs .nav-tabs .nav-link.active:hover {
  border: none; 
  border-bottom: 2px solid #d8d8d8;
  font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
  padding: 30px 50px;
  font-size: 15px;
  line-height: 24px;
  color: #7a7a7a;
}
.review-form .form-group {
  clear: both;
}
.mb-20 {
  margin-bottom: 20px;
}

.review-form .rate {
  float: none;
  display: inline-block;
}
.review-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #000;
}
.review-form .form-control {
  font-size: 14px;
}
.review-form input.form-control {
  height: 40px;
}
.review-form textarea.form-control {
  resize: none;
}
.review-form .round-black-btn {
  text-transform: uppercase;
  cursor: pointer;
}

  /* Detaild page  finish
-------------------------------------------------- */

  /* about contet
-------------------------------------------------- */

.gray-container{
    background-color: #252323;
    color: snow;
    margin: 0;
    padding: 1em o 1em;
  }
  .gray-container ul li{
    margin: 1em;
    padding: 1em;
    list-style-type: none;
  }
  .testemonial-container{
    background-color: ;
    color:#252323;
  }
  ul{
      list-style-type: none;
      margin: 0em;
      padding: 0em;
    }
    .container-list{
      text-align: center;
      padding: 3em 0 3em 0;
      width: 80%;
      margin: auto;
      overflow: hidden;

    }
    .topabout{
      width: 100%; 
      max-height: 40em;
      margin-top: 7px; 
  }
  section{
    margin: 0em;
    padding: 0em;
    border: 0em;
  }
  figure{
    margin: 0em;
    padding: 0em;
    margin:5em;
  }
  figure blockquote :nth-child(2){
    padding-top: 50px;
  }
  figcaption{
    font-weight: bold;
  }
  .Container-newsletter{
    text-align: left;
    background-color: #252323;
    color: snow;
    padding-left: 40px;
  }
  .my-form{
    padding: 80px 40px;
  }
  .my-form .form-group{
    padding-bottom: 20;  
  }
  .my-form label{
    display: block;
  }
  .my-form input[type="text"], .my-form textarea{
    padding:8px;
    width: 50%;
    max-width: 500px;
  }
  .container-location{
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 50px 0 50px;
  }
.button:hover{
    background: gray;
    color: snow;
    text-decoration: none;
}
.button2{
  background-color:green;
  color: snow;
  padding: 15px 30px;
  border: none;
}
.button2:hover{
  background:darkgreen;
  color: snow
}
  .button3{
    background-color:#252323;
    color: snow;
    padding: 9px 14px;
    border: none;
}
.button3:hover{
    background:snow;
    color: #252323;
    text-decoration: none;
}
.button4{
    background-color:transparent;
    color: snow;
    padding: 5px 8px;
    border: 10px;
    border-color: #252323;
}
.button4:hover{
    background:snow;
    color: #252323;
}
.btnLogin{
  background-color: var(--dark);
  color: var(--light);
  padding: 0.45rem 1.3rem;
  text-decoration: none;
  border: 0;
  margin-left: 1em;
}
.btnLogin:hover{
  background-color: gray;
  color: snow;
}
.btn-outline-light:hover{
  background-color: gray;
  color: snow;
}
.team{
  background-color: #252323;
  color: snow;
}


  /* Finish About Content
  -------------------------------------------------- */

    /* Diver
  -------------------------------------------------- */

  .jumbotron1{
    background-image:url('../Images/surface.jpeg');
    color: snow;
    height: 350px;
    padding-top: 100px;
    
  }
.btn .btn-primary{
    background-color: 252323;

}
.card .mb-4 .shadow-sm{
    align-content: center;
    padding-left: x;
}

.WOTM{
  background-image: url(https://watchbox-sfcc.imgix.net/brands/Rolex/Rolex-explorer-Dial-Shot-Model-Page-Image-2560x694.jpg?auto=format,compress&cs=srgb&usm=5&usmrad=5&vib=5);
  background-repeat: no-repeat;
}

    /* Diver finishd
  -------------------------------------------------- */

     /* Straps 
  -------------------------------------------------- */
:root{
    --shadow: 0 1px 5px rgba(104, 104, 104, 0,8);
    --light: rgb(255, 255, 255);
    --dark: #252323;
    --primary: #dddddd
}
/*
.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}*/
img{
    max-width: 100%;
}
.wrapper{
    display: grid;
    grid-gap: 19px;
}
.top-container{
    display: grid;
    grid-gap: 19px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}
.showcase{
    grid-area: showcase;
    min-height: 00px;
    background-image: url(https://images.pexels.com/photos/65280/belts-belt-skin-colors-65280.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-position: center;
    padding: 3em;
    color: snow;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.top-box{
    background-color: var(--primary);
    display: grid;
    align-items: ;
    justify-content: ;
    box-shadow: (var(--shadow));
    padding: 1.5rem;
  
}
.top-box-a .price{
    font-size: 2rem;
}

.top-box-a{
    grid-area: top-box-a;
 
}
.top-box-b{
    grid-area: top-box-b;
}
.boxes{
    display:grid;
    grid-gap:19px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: (var(--shadow));
  
}
.box:hover{
  transform: scale(1.2);
}
.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 29px;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem;
}
.fas img{
    width: 80px;
}
.portfolio img{
    padding: 10px 10px;
    box-shadow: var(--shadow);
}
.portfolio{
    justify-content: center;
    align-items: center;
    padding-left: 80px;
}




    /* STRAPS finishd
  -------------------------------------------------- */

/* -------------------------------- 

Primary style

-------------------------------- */




      /* Timline Start 
  -------------------------------------------------- */
  *{margin:0;padding:0;}
  body{font:15px/1.5 "Arial";background-color:#fff;color:#252323;}
  .wrap{max-width:60%;margin:50px auto;padding-left:20px;border-left:6px solid #252323;border-radius:0%;}
  .wrap li{margin:2em 0;list-style-type:none;position:relative;}
  .wrap li input{display:none;}
  .wrap li .lab{margin:23px 0 10px;display:inline-block;font-size:20px;letter-spacing:1px;cursor:pointer;}
  .wrap li .date{position:absolute;left:-120px;top:50%;margin-top:-7px;font-size:18px;}
  .wrap li .circle{width:8px;height:8px;position:absolute;left:-30px;top:50%;margin-top:-4px;border:3px solid #252323;background-color:#4377E6;border-radius:50%;}
  .wrap li .content{max-height:50px;border:2px solid transparent;padding:0px 10px 20px 0px;border-radius:10px;position:relative;transition:max-height 0.3s linear,border-color 0.3s linear,transform 0.2s ease,padding 0.3s linear;}
  .wrap li .content p{font-size:16px;color:transparent;transition:color 0.2s linear;}
  .wrap li .content img{ width: 400px; opacity: 0; transition:color 0.2s linear;}
  .wrap li .content:before,.wrap li .content:after{width:0px;height:0px;position:absolute;top:50%;right:100%;border:solid transparent;content:"";}
  .wrap li .content:before{border-width:15px;border-right-color:inherit;margin-top:-12px; border-image-width: 0px;}
  .wrap li .content:after{border-width:13px;border-right-color:52323;margin-top:-10px; border-image-width: 300px;}
  
  input:checked ~ .content{max-height:1500px;padding-left:20px;border-color:#fff;transform:translate3D(20px,0,0);}
  input:checked ~ .content p{color:#252323;transition-delay:0.3s;transition-duration:0.5s;}
  input:checked ~ .content .lab{cursor:auto;}
  input:checked ~ .content p img{opacity: 100;}
  
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.black{
  background-color: #252323;
  color: white;
}

.dimgray{
  color: dimgray;
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  
    min-height: 100vh;
}

.text-gray {
    color: #999;
}


.site-footer
{
  background-color:#252323;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:snow;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:snow;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {

    min-height: 100vh;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

/* Inhalt finish
-------------------------------------------------- */

/* Login Page 
-------------------------------------------------- */
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Text Align */
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right
}
.text-j {
  text-align: justify;
}

/* Text Color */
.text-whitesmoke {
  color: whitesmoke
}
.text-darkyellow {
  color: snow;
  text-decoration: none;

}
.text-darkyellow :hover{
  text-decoration: none;
}
.col-3{
  min-width: 200px;
  max-width: 300px;
}

/* Lines */

.line-b {
  border-bottom: 1px solid #FFEB3B !important;
}

/* Buttons */
.button {
  border-radius: 3px;
}
.form-button {
  background-color: rgba(255, 235, 59, 0.24);
  border-color: rgba(255, 235, 59, 0.24);
  color: #e6e6e6;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
  background-color: rgba(255, 235, 59, 0.473);
  border-color: rgba(255, 235, 59, 0.473);
  color: #e6e6e6;
  text-decoration: none;
}
.button-l {
  width: 100% !important;
}

/* Margins g(global) - l(left) - r(right) - t(top) - b(bottom) */

.margin-g {
  margin: 15px;
}
.margin-g-sm {
  margin: 10px;
}
.margin-g-md {
  margin: 20px;
}
.margin-g-lg {
  margin: 30px;
}

.margin-l {
  margin-left: 15px;
}
.margin-l-sm {
  margin-left: 10px;
}
.margin-l-md {
  margin-left: 20px;
}
.margin-l-lg {
  margin-left: 30px;
}

.margin-r {
  margin-right: 15px;
}
.margin-r-sm {
  margin-right: 10px;
}
.margin-r-md {
  margin-right: 20px;
}
.margin-r-lg {
  margin-right: 30px;
}

.margin-t {
  margin-top: 15px;
}
.margin-t-sm {
  margin-top: 10px;
}
.margin-t-md {
  margin-top: 20px;
}
.margin-t-lg {
  margin-top: 30px;
}

.margin-b {
  margin-bottom: 15px;
}
.margin-b-sm {
  margin-bottom: 10px;
}
.margin-b-md {
  margin-bottom: 20px;
}
.margin-b-lg {
  margin-bottom: 30px;
}




* {
  position: relative;
}

.gastly {
  position: absolute;
  top: 5vmin;
  left: 5vmin;
  animation: gastly 10s ease infinite alternate;
}

.gastly-body {
  height: 10rem;
  width: 10rem;
  border-radius: 10rem 10rem 10rem 10rem;
  background: #43374e;
  animation: body 3s ease infinite alternate;
  top: 10rem;
  left: 10rem;
}

.gastly-shadow-container {
  filter: contrast(2400%) hue-rotate(272deg) saturate(50%);
  position: absolute;
  top: -10rem;
  left: -10rem;
  background-color: #fff;
  width: 50rem;
  height: 50rem;
  opacity: 0.2;
  animation: rotate 30s ease infinite alternate;
}

.gastly-shadow {
  filter: blur(26px) brightness(90%);
  height: 10rem;
  width: 9.5rem;
  border-radius: 10rem;
  background-color: #f00;
  position: absolute;
  top: 20rem;
  left: 20rem;
}

.gastly-eye {
  position: absolute;
  top: 3rem;
  left: 6rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  transform: rotate(-22deg) scale(1.27) scalex(1.12);
}
.gastly-eye.-left {
  transform: scalex(-0.8) rotate(-22deg) scale(1.2) scalex(1.12);
  left: -1rem;
  top: 2.95rem;
}

.gastly-eye::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  top: -1.5rem;
  left: 0;
}

.gastly-eye::after {
  content: "";
  display: block;
  background-color: #43374e;
  position: absolute;
  width: 0.5rem;
  height: 0.7rem;
  top: 0.9rem;
  left: 1rem;
  border-radius: 0.5rem;
  transform: rotate(20deg);
}

.gastly-mouth {
  overflow: hidden;
  top: 6.7rem;
  left: -0.5rem;
  height: 2rem;
  animation: mouth 10s ease infinite alternate;
}
.gastly-mouth::before {
  content: "";
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  background: #ff8585;
  top: -4rem;
  left: 2.5rem;
}

.gastly-teeth {
  position: absolute;
  left: 2.7rem;
  top: -1rem;
  height: 1.5rem;
  width: 1.5rem;
  background: #fff;
  transform: scalex(0.3) rotate(55deg);
}

.gastly-teeth.-right {
  left: 5.7rem;
  transform: scalex(0.3) rotate(25deg);
}

/* shadow animation */

.gastly-shadow.-a {
  animation: a 3s ease infinite alternate;
}
.gastly-shadow.-b {
  animation: b 4.5s ease infinite alternate;
}
.gastly-shadow.-c {
  animation: c 10s linear infinite alternate;
}
.gastly-shadow.-d {
  animation: d 6s ease infinite alternate;
}
.gastly-shadow.-e {
  animation: e 6.3s ease infinite alternate;
}
.gastly-shadow.-f {
  animation: f 4s ease infinite alternate;
}
.gastly-shadow.-g {
  animation: g 2.5s ease infinite alternate;
}
.gastly-shadow.-h {
  animation: h 3.5s ease infinite alternate;
}
.gastly-shadow.-i {
  animation: i 4.5s ease infinite normal;
}
.gastly-shadow.-j {
  animation: j 5s ease infinite normal;
}

@keyframes gastly {
  0% {
    transform: translateX(0) rotate(-2deg) scale(1);
  }
  50% {
    transform: translateX(2rem) rotate(2deg) scale(1.1);
  }
  100% {
    transform: translateX(0) rotate(-2deg) scale(1);
  }
}
@media screen and (max-width: 1024px) {
  @keyframes gastly {
    0% {
      transform: translateX(0) rotate(-2deg) scale(0.5);
    }
    50% {
      transform: translateX(2rem) rotate(2deg) scale(0.55);
    }
    100% {
      transform: translateX(0) rotate(-2deg) scale(0.5);
    }
  }
}

@keyframes mouth {
  0% {
    transform: translateX(0) rotate(-10deg) scaley(0.97);
  }
  50% {
    transform: translateX(0) rotate(-11deg) scaley(1);
  }
  100% {
    transform: translateX(0) rotate(-10deg) scaley(0.96);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1.4);
  }
}

@keyframes body {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes a {
  0% {
    transform: translate3d(1rem, 0, 0) scale(1.3);
  }
  100% {
    transform: translate3d(-1rem, -2rem, 0) scale(1.2);
  }
}

@keyframes b {
  0% {
    transform: translate3d(0, 0, 0) scale(1.5);
  }
  100% {
    transform: translate3d(1rem, 2rem, 0) scale(1.2);
  }
}

@keyframes c {
  0% {
    transform: translate3d(2rem, 2rem, 0) scale(1.2);
  }
  25% {
    transform: translate3d(2rem, -2rem, 0) scale(1.3);
  }
  50% {
    transform: translate3d(-2rem, -2rem, 0) scale(1.1);
  }
  75% {
    transform: translate3d(2rem, -2rem, 0) scale(1.3);
  }
  100% {
    transform: translate3d(2rem, 2rem, 0) scale(1.2);
  }
}

@keyframes d {
  0% {
    transform: translate3d(0, 0rem, 0) scale(1);
  }
  40% {
    transform: translate3d(5rem, 5rem, 0) scale(0.5);
  }
  100% {
    transform: translate3d(10rem, 10rem, 0) scale(0.3);
  }
}

@keyframes e {
  0% {
    transform: translate3d(0, 0rem, 0) scale(1);
  }
  35% {
    transform: translate3d(-5rem, -5rem, 0) scale(0.7);
  }
  100% {
    transform: translate3d(-10rem, -10rem, 0) scale(0);
  }
}

@keyframes f {
  0% {
    transform: translate3d(0, 0rem, 0) scale(1);
  }
  40% {
    transform: translate3d(5rem, -5rem, 0) scale(1);
  }
  100% {
    transform: translate3d(10rem, -10rem, 0) scale(0);
  }
}

@keyframes g {
  0% {
    transform: translate3d(0, 0rem, 0) scale(1);
  }
  45% {
    transform: translate3d(-3rem, 5rem, 0) scale(1);
  }
  100% {
    transform: translate3d(-6rem, 7rem, 0) scale(0);
  }
}

@keyframes h {
  0% {
    transform: translate3d(0, 0rem, 0) scale(1);
  }
  40% {
    transform: translate3d(1rem, 3rem, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 11rem, 0) scale(0.2);
  }
}

@keyframes i {
  0% {
    transform: translate3d(0, 0rem, 0) scale(1);
  }
  40% {
    transform: translate3d(-9rem, -1rem, 0) scale(1);
  }
  100% {
    transform: translate3d(-11rem, 0, 0) scale(0);
  }
}

@keyframes j {
  0% {
    transform: translate3d(0, 0rem, 0) scale(1);
  }
  30% {
    transform: translate3d(1rem, -5rem, 0) scale(1);
  }
  100% {
    transform: translate3d(-1rem, -11rem, 0) scale(0);
  }
}


/* Logout Formular */

 

 button:focus {
     box-shadow: none !important;
     outline-width: 0
 }


 .btn-primary {
     background: #252323;
     color: #fff !important;
     border-radius: 0 !important;
     padding-top: calc(5px + 6 * ((100vw - 320px) / 680));
     padding-bottom: calc(5px + 6 * ((100vw - 320px) / 680));
     border: 0px
 }

 .btn-primary:hover {
     background: gray
 }

 .btn-primary:focus {
     background: black !important
 }

 small {
     letter-spacing: 2px
 }

 .plan {
     text-align: center !important;
     vertical-align: middle !important;
     font-size: calc(8px + 3 * ((100vw - 320px) / 680))
 }

 .btn-inverse {
     border: 1px solid #252323;
     background-color: transparent;
     border-radius: 0;
     letter-spacing: 1px;
     padding-top: calc(5px + 6 * ((100vw - 320px) / 680));
     padding-bottom: calc(5px + 6 * ((100vw - 320px) / 680))
 }

 .btn-inverse:hover {
     background-color: grey;
     color: #fff !important
 }

 @media (max-width: 726px) {
     .card {
         width: unset
     }
 }

/* Logout Formular End */


/* Bootstrap Form Control Extension */

.form-control,
.border-line {
  background-color: white;
  background-image: none;
  border: 1px solid #424242;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-control:focus,
.border-line:focus {
  border-color: black;
  background-color: white;
  color: #252323;
}
.form-control,
.form-control:focus {
  box-shadow: none;
}
.form-control::-webkit-input-placeholder { color: #BDBDBD; }

/* Container */

.container-content {
  background-color: #3a3a3aa2;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: snow;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  border-bottom: 200px;;
}

/* Backgrounds */

.main-bg {

  background: lightgray;
  background: linear-gradient( #424242, #252323, #424242);
  background-repeat:;
}

/* Login & Register Pages*/

.login-container {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: px;
}
.login.login-container {
  width: 10px;
}
.wrapper.login-container {
  margin-top: 140px;
}
.logo-badge {
  color: #e6e6e6;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}
.btn .btn-sm .btn-outline-light{
  border-color: #252323;
}
.nightsky{
  background-image:url('../Images/Login/pexels-photo-924824.webp');
  color: snow;
}
.btn-outline-light1{
  border-color: snow;
  color: snow;
}
.btn-outline-light1:hover{
  background-color: snow;
}
.paddinglogin{
  padding-left: 30px;
  padding-right: 30px;
}


.container3{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 70vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
  background-color: #fff;
}

.box > a img {
  width: 180%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 2 vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 30%; }
.box:hover > a img {
  width: 100%;
  height: 95%;
}
.top:hover
{
  opacity: 0.3;
  filter: alpha(opacity=30);
  
}
.bglight{
background-color: #fff;
}

/* Login Page Finishd 
-------------------------------------------------- */

/* sfenster page
-------------------------------------------------- */
.filter{
  background-color:;
}

.sfenster{


}
.page-link{
  color: #252323;
}
.page-link:hover{
  color: snow;
  background-color: #252323;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #252323;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #252323;
  cursor: pointer;
}


/* Login Page Finishd 
-------------------------------------------------- */


/* Footer
-------------------------------------------------- */
#main-footer{
    background: gray;
    color: snow;
    text-align: center;
    padding: 100px;
    margin-top:30px;
}

/* Finish Footer
-------------------------------------------------- */

@media(min-width:1000px) {
    .gray-container img{ 
      width: 50%;
    }
    .gray-container ul{
      display: flex;
    }
    .testemonial-container ul{
      display: flex;
    }


  
  @media(max-width:1000px){
    #navbar input{float: none; margin-left: 20px; margin-top: 10px;}
    .block{float: none;}
  }