/* NavBar
-------------------------------------------------- */
.bg-color-black{
    background-color: white;
    padding: 2em;

}
.container80{
    width: 80%;
    margin: auto;
    overflow: hidden;
    align-items: center;
}
.navbar-brand{
    font-size: 1.8em;
    font-family:monospace;
    padding-right: 40px;
}
.form-inline{
flex-wrap: nowrap;
}
.navbar-dark .navbar-toggler{
    color: #252323;
    border-color:#252323;
}
.navbar{
    margin-bottom: 30px;
    border-bottom: ;
}
.col-sm-12.col-md-6{
  margin-right: 2em;
}
.navbar-dark .navbar-brand{
  color: #252323;
}
.navbar-dark .navbar-nav .nav-link {
  color: #252323;
}
.btn-outline-light {
  color: #252323;
  border-color: #252323;
}
/* Finish Navbar
-------------------------------------------------- */


/* Inhalt Homepage
-------------------------------------------------- */

.container2{
    display: flex;
    width: 95%;
    margin: auto;
    border: none;
    min-height: 200px;
    flex-wrap: wrap;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    padding-top: 1.1em;
}
.box-1{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-2{ background-color: white; margin: 6px; flex-shrink: 10}
.box-3{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-4{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-5{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-6{ background-color: white; margin: 7px; flex-shrink: inherit}
.box-7{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-8{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-9{ background-color: white; margin: 6px; flex-shrink: inherit}
.box-10{ background-color: white; margin: 6px; flex-shrink: inherit}

.box-1 img {
  transition: all 0.5s ease-in-out;
}
.box-1 img:hover {
  transform: scale(1.1);
}
.box-2 img {
    transition: all 0.3s ease-in-out;
  }
  .box-2 img:hover {
    transform: scale(1.1);
  }
  .box-3 img {
    transition: all 0.3s ease-in-out;
  }
  .box-3 img:hover {
    transform: scale(1.1);
  }
  .box-4 img {
    transition: all 0.3s ease-in-out;
  }
  .box-4 img:hover {
    transform: scale(1.1);
  }
  .box-5 img {
      transition: all 0.3s ease-in-out;
    }
    .box-5 img:hover {
      transform: scale(1.1);
    }
    .box-6 img {
      transition: all 0.3s ease-in-out;
    }
    .box-6 img:hover {
      transform: scale(1.1);
    }
    .box-7 img {
        transition: all 0.3s ease-in-out;
      }
      .box-7 img:hover {
        transform: scale(1.1);
      }
      .box-8 img {
        transition: all 0.3s ease-in-out;
      }
      .box-8 img:hover {
        transform: scale(1.1);
      }
      .box-9 img {
          transition: all 0.3s ease-in-out;
        }
        .box-9 img:hover {
          transform: scale(1.1);
        }
        .box-10 img {
          transition: all 0.3s ease-in-out;
        }
        .box-10 img:hover {
          transform: scale(1.1);
        }
        .gqBRFN {
            width: 100%;
            background-color: rgb(snow);
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
        }
        .dlAzQm {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            overflow-x: hidden;
            margin: 0px auto 60px;
        }
/* Inhalt Hompage Ende
-------------------------------------------------- */

/* Dress Conternt
-------------------------------------------------- */









  /* Dress Conternt finish
-------------------------------------------------- */


  /* about contet
-------------------------------------------------- */

.gray-container{
    background-color: #252323;
    color: snow;
    margin: 0;
    padding: 1em o 1em;
  }
  .gray-container ul li{
    margin: 1em;
    padding: 1em;
    list-style-type: none;
  }
  .testemonial-container{
    background-color: ;
    color:#252323;
  }
  ul{
      list-style-type: none;
      margin: 0em;
      padding: 0em;
    }
    .container-list{
      text-align: center;
      padding: 3em 0 3em 0;
      width: 80%;
      margin: auto;
      overflow: hidden;

    }
    .topabout{
      width: 100%; 
      max-height: 40em;
      margin-top: 7px; 
  }
  section{
    margin: 0em;
    padding: 0em;
    border: 0em;
  }
  figure{
    margin: 0em;
    padding: 0em;
    margin:5em;
  }
  figure blockquote :nth-child(2){
    padding-top: 50px;
  }
  figcaption{
    font-weight: bold;
  }
  .Container-newsletter{
    text-align: left;
    background-color: #252323;
    color: snow;
    padding-left: 40px;
  }
  .my-form{
    padding: 80px 40px;
  }
  .my-form .form-group{
    padding-bottom: 20;  
  }
  .my-form label{
    display: block;
  }
  .my-form input[type="text"], .my-form textarea{
    padding:8px;
    width: 50%;
    max-width: 500px;
  }
  .container-location{
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 50px 0 50px;
  }
.button:hover{
    background: gray;
    color: snow;
    text-decoration: none;
}
.button2{
  background-color:green;
  color: snow;
  padding: 15px 30px;
  border: none;
}
.button2:hover{
  background:darkgreen;
  color: snow
}
  .button3{
    background-color:#252323;
    color: snow;
    padding: 9px 14px;
    border: none;
}
.button3:hover{
    background:snow;
    color: #252323;
    text-decoration: none;
}
.button4{
    background-color:transparent;
    color: snow;
    padding: 5px 8px;
    border: 10px;
    border-color: #252323;
}
.button4:hover{
    background:snow;
    color: #252323;
}
.btnLogin{
  background-color: var(--dark);
  color: var(--light);
  padding: 0.45rem 1.3rem;
  text-decoration: none;
  border: 0;
  margin-left: 1em;
}
.btnLogin:hover{
  background-color: gray;
  color: snow;
}
.btn-outline-light:hover{
  background-color: gray;
  color: snow;
}
  /* Finish About Content
  -------------------------------------------------- */

    /* Diver
  -------------------------------------------------- */

  .jumbotron{
    background-image:url('../Images/surface.jpeg');
    color: snow;
    height: 350px;
    padding-top: 100px;
    
  }
.btn .btn-primary{
    background-color: 252323;

}
.card .mb-4 .shadow-sm{
    align-content: center;
    padding-left: x;
}

    /* Diver finishd
  -------------------------------------------------- */

     /* Straps 
  -------------------------------------------------- */
:root{
    --shadow: 0 1px 5px rgba(104, 104, 104, 0,8);
    --light: rgb(255, 255, 255);
    --dark: #252323;
    --primary: #dddddd
}
/*
.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}*/
img{
    max-width: 100%;
}
.wrapper{
    display: grid;
    grid-gap: 19px;
}
.top-container{
    display: grid;
    grid-gap: 19px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}
.showcase{
    grid-area: showcase;
    min-height: 00px;
    background-image: url(https://images.pexels.com/photos/65280/belts-belt-skin-colors-65280.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-position: center;
    padding: 3em;
    color: snow;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.top-box{
    background-color: var(--primary);
    display: grid;
    align-items: ;
    justify-content: ;
    box-shadow: (var(--shadow));
    padding: 1.5rem;
  
}
.top-box-a .price{
    font-size: 2rem;
}

.top-box-a{
    grid-area: top-box-a;
 
}
.top-box-b{
    grid-area: top-box-b;
}
.boxes{
    display:grid;
    grid-gap:19px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: (var(--shadow));
  
}
.box:hover{
  transform: scale(1.2);
}
.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 29px;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem;
}
.fas img{
    width: 80px;
}
.portfolio img{
    padding: 10px 10px;
    box-shadow: var(--shadow);
}
.portfolio{
    justify-content: center;
    align-items: center;
    padding-left: 80px;
}




    /* STRAPS finishd
  -------------------------------------------------- */
      /* Timline Start 
  -------------------------------------------------- */

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: gray;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #252323;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #252323;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*

/*----------------------------------
  Macbook pro mockup from:
  http://jaredhardy.com/minimal-devices/
  
----------------------------------*/

.md-macbook-pro {
display: block;
width: 55.3125em;
height: 31.875em;
font-size: 13px;
margin: 0 auto;

@media (max-width:1199px){
  font-size: 11px;
}
@media (max-width:1024px){
  font-size: 10px;
}

@media (max-width:767px){
  font-size: 7px;
}

@media (max-width:320px){
  font-size: 5px;
}

}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  
    min-height: 100vh;
}

.text-gray {
    color: #999;
}


.site-footer
{
  background-color:#252323;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:snow;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:snow;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {

    min-height: 100vh;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

/* Inhalt finish
-------------------------------------------------- */

/* Login Page 
-------------------------------------------------- */
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Text Align */
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right
}
.text-j {
  text-align: justify;
}

/* Text Color */
.text-whitesmoke {
  color: whitesmoke
}
.text-darkyellow {
  color: snow;
  text-decoration: none;

}
.text-darkyellow :hover{
  text-decoration: none;
}

/* Lines */

.line-b {
  border-bottom: 1px solid #FFEB3B !important;
}

/* Buttons */
.button {
  border-radius: 3px;
}
.form-button {
  background-color: rgba(255, 235, 59, 0.24);
  border-color: rgba(255, 235, 59, 0.24);
  color: #e6e6e6;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
  background-color: rgba(255, 235, 59, 0.473);
  border-color: rgba(255, 235, 59, 0.473);
  color: #e6e6e6;
  text-decoration: none;
}
.button-l {
  width: 100% !important;
}

/* Margins g(global) - l(left) - r(right) - t(top) - b(bottom) */

.margin-g {
  margin: 15px;
}
.margin-g-sm {
  margin: 10px;
}
.margin-g-md {
  margin: 20px;
}
.margin-g-lg {
  margin: 30px;
}

.margin-l {
  margin-left: 15px;
}
.margin-l-sm {
  margin-left: 10px;
}
.margin-l-md {
  margin-left: 20px;
}
.margin-l-lg {
  margin-left: 30px;
}

.margin-r {
  margin-right: 15px;
}
.margin-r-sm {
  margin-right: 10px;
}
.margin-r-md {
  margin-right: 20px;
}
.margin-r-lg {
  margin-right: 30px;
}

.margin-t {
  margin-top: 15px;
}
.margin-t-sm {
  margin-top: 10px;
}
.margin-t-md {
  margin-top: 20px;
}
.margin-t-lg {
  margin-top: 30px;
}

.margin-b {
  margin-bottom: 15px;
}
.margin-b-sm {
  margin-bottom: 10px;
}
.margin-b-md {
  margin-bottom: 20px;
}
.margin-b-lg {
  margin-bottom: 30px;
}

/* Bootstrap Form Control Extension */

.form-control,
.border-line {
  background-color: white;
  background-image: none;
  border: 1px solid #424242;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-control:focus,
.border-line:focus {
  border-color: black;
  background-color: white;
  color: #252323;
}
.form-control,
.form-control:focus {
  box-shadow: none;
}
.form-control::-webkit-input-placeholder { color: #BDBDBD; }

/* Container */

.container-content {
  background-color: #3a3a3aa2;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: snow;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  border-bottom: 200px;;
}

/* Backgrounds */

.main-bg {

  background: lightgray;
  background: linear-gradient( #424242, #252323, #424242);
  background-repeat:;
}

/* Login & Register Pages*/

.login-container {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: px;
}
.login.login-container {
  width: 10px;
}
.wrapper.login-container {
  margin-top: 140px;
}
.logo-badge {
  color: #e6e6e6;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}



body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color:#312A25 !Important;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 0;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left:-250px;
}

/* Login nav */

.nav-pills .nav-link{
  border-radius: 0;
}
.nav-pills a{
  color: #252323;
  background-color: white ;
  flex-wrap: nowrap;
  padding: 10px 40px 10px 20px;
}
.nav-pills .nav-link.active{
  background-color: #252323;

}
.fix-me{
  position: fixed;
  top: 3rem;
}




/* Login Page Finishd 
-------------------------------------------------- */

/* Footer
-------------------------------------------------- */
#main-footer{
    background: gray;
    color: snow;
    text-align: center;
    padding: 100px;
    margin-top:30px;
}

/* Finish Footer
-------------------------------------------------- */

@media(min-width:1000px) {
    .gray-container img{ 
      width: 50%;
    }
    .gray-container ul{
      display: flex;
    }
    .testemonial-container ul{
      display: flex;
    }


  
  @media(max-width:1000px){
    #navbar input{float: none; margin-left: 20px; margin-top: 10px;}
    .block{float: none;}
  }
  

  
